<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Frontend Coding Challenge</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/line-awesome.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>		

		<header>
			<div class="container">
				<div class="header-data">
					<div class="logo">
						<a href="index.html" title=""><img src="images/tweets-logo.png" alt=""></a>
					</div>
				 
					<nav class="float-right">
							<ul>
								<li>
									<a href="layout-setting.html" title="">
										<span><img src="images/icon2.png" alt=""></span>
										Layout Setting
									</a>
								</li>
								</ul>
								</nav>
				</div>
			</div>
		</header> 

        {{{body}}}

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>

