		<main>
			<div class="main-section">
				<div class="container">
					<div class="main-section-data">
						<div class="row">

							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="filter-secs">
									<div class="filter-heading">
										<h3>Edit Layout Setting</h3>
									</div>

									<form action="/add-settings" method="POST" class="paddy">

											<div class="filter-dd">
													<div class="filter-ttl">
														<h3>Column Order</h3>
														<a href="#" title="">Left &nbsp; &nbsp; Center  &nbsp; &nbsp; Right</a>
													</div>
													<div class="job-tp">
														<select name="columnOrder">
															<option>choose . . .</option>
															<option value="MakeSchool newsycombinator ycombinator">MakeSchool newsycombinator ycombinator</option>
															<option value="MakeSchool ycombinator newsycombinator">MakeSchool ycombinator newsycombinator</option>
															<option value="ycombinator MakeSchool newsycombinator">ycombinator MakeSchool newsycombinator</option>
															<option value="ycombinator newsycombinator MakeSchool">ycombinator newsycombinator MakeSchool</option>
															<option value="newsycombinator ycombinator MakeSchool">newsycombinator ycombinator MakeSchool</option>
															<option value="newsycombinator MakeSchool ycombinator">newsycombinator MakeSchool ycombinator</option>
														</select>
														<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
													</div>
												</div>

												<div class="filter-dd">
														<div class="filter-ttl">
															<h3>Number of Tweets</h3>
														</div>
														<div class="job-tp">
															<select name="numberOfTweets">
															    <option>choose . . .</option>
																<option value="5">5</option>
																<option value="10">10</option>
																<option value="20">20</option>
																<option value="20">30</option>
																<option value="50">50</option>
																<option value="100">100</option>
															</select>
															<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
														</div>
													</div>


										<div class="filter-dd">
											<div class="filter-ttl">
												<h3>Page Skin</h3>
											</div>
                                            <div class="job-tp">
                                                <select name="backgroundColour">
												    <option>choose . . .</option>
													<option value="Default">Default</option>
                                                    <option value="Brown">Brown</option>
													<option value="Cadetblue">Cadetblue</option>
													<option value="Chocolate">Chocolate</option>
													<option value="Coral">Coral</option>
													<option value="Firebrick">Firebrick</option>
													<option value="Green">Green</option>
													<option value="Maroon">Maroon</option>
												</select>
												<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
											</div>

										</div>

										<div class="save-stngs">
												<ul>
													<li  class="float-right"><input style="background-color:{{{skinColour}}}; color: white;" type="submit" value="Save Setting" /></li>
												</ul>
											</div>

									</form>
								</div>
							</div>

						</div>
					</div>
				</div> 
			</div>
		</main>
