<main>
			<div class="main-section">
				<div class="container">
						<div class="row">

							<div class="col-lg-12 col-md-12">

                                
									<div class="posts-section col-lg-4 col-md-4">
											<div class="post-topbar">
													<h2>@MakeSchool Tweets</h2>
												</div>
                                        {{#each tweets.MakeSchool}}
											<div class="post-bar">
												<div class="post_topbar">
													<div class="usy-dt">
														<img src="images/us-pic.png" alt="">
														<div class="usy-name">
															<h3>John Doe</h3>
															<span><img src="images/clock.png" alt="">3 min ago</span>
														</div>
													</div>
												</div>
												<div class="job_descp">
													<h3>Senior Wordpress Developer</h3>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at. Etiam id magna sit amet... <a href="#" title="">view more</a></p>
												</div>
												<div class="job-status-bar">
													<ul class="like-com">
														<li><a href="#"><i class="la la-heart"></i> Like 12</a></li> 
														<li><a href="#"><i class="la la-comment"></i> Comment 15</a></li>
													</ul>
												</div>
											</div>
	                                    {{/each}}
										</div>
                                


                                    
										<div class="posts-section col-lg-4 col-md-4">
												<div class="post-topbar">
														<h2>@newsycombinator Tweets</h2>
													</div>
	                                        {{#each tweets.newsycombinator}}
												<div class="post-bar">
													<div class="post_topbar">
														<div class="usy-dt">
															<img src="images/us-pic.png" alt="">
															<div class="usy-name">
																<h3>John Doe</h3>
																<span><img src="images/clock.png" alt="">3 min ago</span>
															</div>
														</div>
													</div>
													<div class="job_descp">
														<h3>Senior Wordpress Developer</h3>
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at. Etiam id magna sit amet... <a href="#" title="">view more</a></p>
													</div>
													<div class="job-status-bar">
														<ul class="like-com">
															<li><a href="#"><i class="la la-heart"></i> Like 12</a></li> 
															<li><a href="#"><i class="la la-comment"></i> Comment 15</a></li>
														</ul>
													</div>
												</div>
		                                    {{/each}}
											</div>
								

                                
											<div class="posts-section col-lg-4 col-md-4">

													<div class="post-topbar">
															<h2>@ycombinator Tweets</h2>
														</div>
		                                        {{#each tweets.ycombinator}}
													<div class="post-bar">
														<div class="post_topbar">
															<div class="usy-dt">
																<img src="images/us-pic.png" alt="">
																<div class="usy-name">
																	<h3>John Doe</h3>
																	<span><img src="images/clock.png" alt="">3 min ago</span>
																</div>
															</div>
														</div>
														<div class="job_descp">
															<h3>Senior Wordpress Developer</h3>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at. Etiam id magna sit amet... <a href="#" title="">view more</a></p>
														</div>
														<div class="job-status-bar">
															<ul class="like-com">
																<li><a href="#"><i class="la la-heart"></i> Like 12</a></li> 
																<li><a href="#"><i class="la la-comment"></i> Comment 15</a></li>
															</ul>
														</div>
													</div>
                                            {{/each}}
			
												</div>											

							</div>
						</div>
				</div> 
			</div>
			</main>